p{
   /* background-color: beige; */
}

body {
    color: black;
    background-color: white;
    width: 1000px;
    text-align: center;
}

h1{
    text-align: center;
}

ol{
    padding: 0px;
    margin: 0px;
}

h2{
    text-align: center;
}

li{
    list-style-type: none;
    display: inline-block;
    width:21%;
    background-color: rgb(223, 138, 138);
    color: white;
    margin: 0px;
    padding: 10px;
}

span.webpage{
    color: red;
}

div.pdivclass{
    text-decoration: underline;
}

a#myid{
    color: orange;
}

a.menu{
    color: white;
}

li:hover {
    background-color: lavender;
    color: black;
}
