p{
   /* background-color: beige; */
}

body {
    color: rgb(223, 138, 138);
    background-color: white;
    width: 1000px;
    text-align: center;
}

h1{
    text-align: center;
}

ol{
    padding: 0px;
    margin: 0px;
}

h2{
    text-align: center;
}

li{
    list-style-type: none;
    display: inline-block;
    width:21%;
    background-color: rgb(223, 138, 138);
    color: white;
    margin: 0px;
    padding: 10px;
}

span.webpage{
    color: red;
}

div.pdivclass{
    color: black
}

a#myid{
    color: orange;
}

a.menu{
    color: white;
}

a.link{
    color: lavender;
}

a.license{
    color: lavender;
}

li:hover {
    background-color: lavender;
    color: black;
}


@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }