p{
   /* background-color: beige; */
}

body {
    color: rgb(223, 138, 138);
    background-color: white;
    width: 1000px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 180%;
}

ol{
    padding: 0px;
    margin: 0px;
}

h2{
    text-align: center;
    font-size: 150%;
}

li{
    list-style-type: none;
    display: inline-block;
    width:25%;
    background-color: rgb(223, 138, 138);
    color: white;
    margin: 0px;
    padding: 10px;
}

span.mariela{
    color: purple;
}

span.looks{
    color: rgb(223, 138, 138);
}

span.mind{
    color:purple;
}

div.pdivclass{
    color: black
}

a#myid{
    color: orange;
}

a.menu{
    color: white;
}

a.link{
    color: green;
}

a.license{
    color: lavender;
}

li:hover {
    background-color: lavender;
    color: purple;
}


@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }